__pycache__/

logs/

work_dir*/
results/
entrypoints/env.local.sh

data/scenes/
!data/scenes/Wainscott*/

*.log
*.ipynb
*.tar.gz

checkpoints
data/models/

**/slurm-*.out

output*/
tests**
!tests/
!tests/test_planning_memory_risk_latency.py
talk/
lifelong_graph/
