omegaconf
hydra-core
gym
numpy==1.26.4
scikit-image
scikit-fmm
scikit-learn
openai
grakel
open3d
moviepy
supervision==0.21.0
opencv-python-headless==4.11.0.86
faiss-cpu
git+https://github.com/cvg/LightGlue.git
addict
pycocotools
termcolor
timm
transformers
yapf
nltk
fairscale
iopath
litellm
